header{
    background-color: rgb(184, 157, 187);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body{
    margin: 0;
    background-color: black;
    font-family:  'Pacifico';
}

nav a{
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: auto;
}

button{
    padding: 20px 50px;
    border-radius: 30px;
    border: none;
    background-color: lightgray;
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}
button:hover{
    background-color: rgb(230, 230, 230);
    color: red;
    transform: scale(1.1);
}

div{
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 300px ;
    font-size: 25px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.253), rgba(212, 143, 231, 0.158)) , url(font.jpg);
    background-size: cover;
}
footer{
    background-color: black;
    color: white;
}
@media(max-width: 500px){
    header{
        display: block;
        text-align: center;
        padding: 10px 0;
    }
nav{
    margin: 10px 0;
}
h1{
    font-size: 30px;
}
p{
    font-size: 18px;
}
div{
    padding: 20px 10px;
}
}
